<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/domus.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/hot-sneaks/jquery-ui.css">
		<title>Domus</title>
	</head>

	<body>

		{% include 'navbar.html' %}

		<div id="widget-container" class="container">
{% for widget in widgets %}
			<div class="widget" data-id="{{ widget.id }}" style="position:relative;left:{{ widget.left }};top:{{ widget.top }}">
				<ul class="nav nav-tabs widget-header"><li class="active"><a>{{ widget.title }}</a></li></ul>
				<div class="widget-body">
				</div>
			</div>
{% endfor %}
		</div>

		{% include 'footer.html' %}

		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/domus.js"></script>
	</body>
</html>
