body.lights-off {
	background-image: url(/static/img/noisy_net.png);
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 600px;
}

.navbar-fixed-top .navbar-inner {
}

.navbar button.btn-small {
	margin-top: 0;
}

.navbar .nav > li > button {
	padding: 0 10px;
	margin: 0 10px;
}

#lightswitch {
	width: 110px;
}

#lightswitch button {
	width: 95px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	right: 0;
	left: 0;
	margin: none;
	min-height: 40px;
}

#tab-container {
	position: fixed;
	width: 100%;
	margin: 45px 0 0;
	z-index: 999;
}

#tab-container .widget {
	width: 315px;
	height: auto;
}

#tab-container .widget-header {
	margin-bottom: 0;
}

#tab-container .widget-body {
	border: none;
	background-color: #fff;
	padding: 0;
}

div.widget > ul.nav-tabs, div.widget .nav-tabs > li > a {
	border: none;
	border-radius: 0;
}

div.widget.ui-draggable > ul.widget-header > li.active > h4:hover {
	cursor: move;
}

div.widget .nav-tabs > .active > h4, div.nav-tabs > .active > h4:hover {
	color: #fff;
	border: none;
	background-color: transparent;
	max-width: 300px;
	padding: 0 5px;
	line-height: 90%;
}

div.widget-body .nav-tabs > li, .nav-tabs > li {
	margin-bottom: 0;
}

div.widget .nav-tabs > li.active:hover {
	background-color: #444;
}

div.widget .nav-tabs > li.active {
	border: none;
	background-color: #555;
	font-variant: small-caps;
}

.domus-container {
	text-align: center;
	margin-top: 60px;
}

#flash {
	top: 40px;
	position: relative;
	text-align: center;
}

div.accordion-heading {
	background-color: #ddd;
}

div.accordion-heading:hover {
	background-color: #aaa;
}

div.accordion-group div.accordion-heading.accordion-toggle-active, div.accordion-group div.accordion-heading.accordion-toggle-active:hover {
	background-color: #08c;
}

div.accordion-group div.accordion-heading.accordion-toggle-active a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	max-width: 300px;
}

div.widget-body div.accordion-group {
	border-radius: 0;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

div.widget-body div.accordion-heading {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #e5e5e5;
}

div.widget-body div.accordion-body {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e5e5e5;
}

div.widget-body div.accordion-heading.accordion-toggle-active {
	border: none;
}

a.accordion-toggle {
	text-decoration: none;
}

a.dropdown-toggle, ul.dropdown-menu > li > a {
	cursor: pointer;
}

ul.dropdown-menu i[class^="icon-"], ul.dropdown-menu i[class*=" icon-"] {
	margin-top: -1px;
}

div.widget-body .alert {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.faded {
	color: #555;
}

#tablist {
	margin-bottom: 5px;
}

#tablist > li > a{
	padding: 0 10px;
}

div.tab-content, div.tab-pane {
	width: 100%;
	height: 100%;
}
